*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Agdasima', sans-serif;
}

body{
    background-image: url(gm.jpg);
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}